.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillar-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  width: 100%; /* Ensure it takes full width */
  max-width: 1200px; /* Limit the maximum width */
}