.specific-section {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }

  .divQuestion {
    margin-top: 50px;
     /* Bordo nero di 1px */
    outline: 2px solid #b7eb41; /* Contorno verde */
    background-color: white; /* Sfondo bianco */
    margin: auto; /* Centro orizzontale */
    display: flex; /* Layout flessibile per il posizionamento delle colonne */
    padding: 10px; /* Spaziatura interna */
    box-sizing: border-box; /* Include padding nel calcolo della larghezza */
    align-items: center;  /* Centra verticalmente il contenuto */
    justify-content: space-between; /* Spinge il contenuto agli estremi */
    width: 100%; /* Occupa l'intera larghezza del container */
}

.marginCol{
    margin-top: 20px;
}

.col-left p {
    margin: 0; /* Rimuove margini extra dal testo */
    font-size: 0.4em; /* Dimensione del testo */
}

.col-right .button-icon {
    font-size: 1.5em; /* Dimensione dell'icona */
    color: #333;   
}


/* Colonna destra con il testo */
.col-right {
     /* Prende il 75% dello spazio */
    padding: 10px;
}

/* Colonna sinistra con l'icona */
.col-left {
     /* Prende il 25% dello spazio */
    display: flex; /* Centra il contenuto verticalmente e orizzontalmente */
    justify-content: center;
    align-items: center;
    font-size: 48px; /* Dimensione dell'icona */
}

